:root{
    --primary-color: blue;
    --secondary-color: black;
    --background-color: white ;
    --text-color: black;
    
}


body{
    background-color: var(--primary-color);
}


header{
    height:200px;
    background-color: var(--secondary-color);
}
main{
    height:600px;
    background-color: var(--background-color);
}
footer{
    height:200px;
    background-color: var(--secondary-color);
}
